.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;

}

.footer-texto {
  font-size: 1.5rem;
  line-height:1.3;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1 ;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li {
  text-decoration: none;
  color: #fff;
}

.footer-contato a {
    color:  #fff;
    padding: 10px 15px;
    background-color: #141414;
    transition: 0.3s;
    position: relative;
}


.footer-contato a:hover {
  color: #000000;
  background-color: #004AAD;
}

.footer-copy {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media(max-width:800px){
  .footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
  
  
}

.footer-texto {
  font-size: 1.3rem;
  line-height:1.0;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.50rem;
  line-height: 1.1 ;
  color: #fff;
  margin-bottom: 30px;
  padding: 10px;
}


}

@media(max-width:480px){
  .footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
  justify-content: center;
  
}

.footer-texto {
  font-size: 0.975rem;
  line-height:1.0;
  color: #ccc;
}
.footer-contato li {
  font-weight: bold;
  font-size: 1.275rem;
  line-height: 1.1 ;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato a {
    color:  #fff;
    padding: 20px 15px;
    background-color: #141414;

}
.footer-copy {
  font-size: 0.975rem;
  color: #8f8f8f;
}


}