.formacao{
  background-color: #141414;
  color: #ffffff;
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #a3a3a3;

}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.975rem;
  text-transform: uppercase;
  color:#ffffff ;
  margin-bottom: 10px;
  position: relative;
}

.faculdade-curso {
  flex: 1;
  color: #a3a3a3; 
  font-size: 1.125rem;
  text-align: start;
  padding: 10px 0px;
  
}

.faculdade-tipo::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background: linear-gradient(#70DA1C, #CCF235);
  position: absolute;
  left: -25px;
  border-radius: 2px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra  h3{
    font-size: 0.975rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.formacao-extra  h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/cursos.svg") no-repeat center center;
  left: -35px;
  top: -2px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}