.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.4rem;
  position: relative;
}

.introducao h1::before{
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  background: url("../img/detalhe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: absolute;
  top: -13px;
  left: -24px;
  z-index: -1;
} 

.introducao p {
  font-size: 1.5rem;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.introducao img {
  border-radius: 50px;
}

@media (max-width:1000px){
  .introducao h1{
    font-size: 3rem;
  }

  .introducao h1::before {
    width: 80px;
    height: 80px;
  }

}

@media(max-width:800px) {
  .header{
    padding-bottom: 0px;
  }
  .introducao {
    grid-template-columns: 1fr 1fr ;
    gap: 40px;
    padding-top: 0px;
  }
   .introducao h1{
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 50px;
    height: 50px;
    top: -10px;
    left: -20px;
  }


}

@media(max-width:600px) {

  header{
    padding-bottom: 0px;
  }

  .introducao {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .introducao img {
    border-bottom: 10px solid #004AAD;
    max-width: 300px;
    margin: 0 auto;
  }

  .introducao h1, p {
    text-align: center;
    align-items: center;
  }

  .introducao h1::before {
    display:none;
  }

}